<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Back to messages?</a>
    <form method="POST" action="/new">
        <input type="text" maxlength="20" placeholder="Name" name="user" required />
        <br>
        <textarea placeholder="Max length: 200 characters" name="text"
        maxlength="200" required></textarea>
        <br>
        <button type="submit">Submit?</button>
    </form>
  </body>
</html>
