<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>

    </header>
    <form method="POST" action="/new">
        <input type="text" maxlength="20" placeholder="Name" name="author" required />
        <textarea placeholder="Max length: 150 characters" name="text"
        maxlength="150" required></textarea>
        <button type="submit">Submit?</button>
    </form>
  </body>
</html>
